<div class="padding">
  <super-navbar>
    <super-navbar-title>
      История
    </super-navbar-title>
  </super-navbar>

  <span>Колода</span> 
  <div id="card-deck">
  </div>
  
  <span>Рука</span>
  <div id="cards-in-hand">
	<div class="card card-tiger"><div class="image">&nbsp;</div></div>
	<div class="card card-tiger"><div class="image">&nbsp;</div></div>
	<div class="card card-tiger"><div class="image">&nbsp;</div></div>
	<div class="card card-tiger"><div class="image">&nbsp;</div></div>
  </div>

  <p>Below, you can see our multi-page navigation in action. Tap on a button to move to a new view.</p>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>

  <h2>Get in touch with us!</h2>

  <p>Feel free to contact us at <a href="mailto:contact@appgyver.com">contact@appgyver.com</a>, we would love to get your feedback!</p>
</div>
